--- 
import Toast from '../components/Toast.svelte';
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---
<div class="flex flex-col min-h-screen bg-base-200">
      <div class="flex-grow container mx-auto justify-items-center">
        <slot />
      </div>
</div>
<Toast client:visible client:only="svelte" />
